@font-face {
    font-family: 'MtKing';
    src: url(mountain-king-font/MtKing.ttf);
}

body {
    text-align: center;
    display: block;
    background-color: black;
}

main p {
    color: #FF0000;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

main h1 {
    grid-row: 1;
    grid-column: 1 / span 2;
}

main section {
    grid-column: 1;
    padding-right: 80px;
    padding-left: 40px;
    margin: 0;
}

#wrapper img {
    border-radius: 20%;
    box-shadow: 0px 0px 30px #bf7714;
    grid-column: 2;
    grid-row: 2 / span 3;
    margin-top: 40px;
}

#wrapper img:hover {
    opacity: 0.8;
    transform: scale(1.1);
    transition: transform .3s;
}

#wrapper h1, h2 {
    font-family: 'MtKing';
    font-size: 3em;
    color: #FF0000;
}

nav ul {
    font-size: 2em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    padding: 0;
    font-family: 'MtKing';
    color: #FF0000;
}

nav li {
    background-color: #76006c;
    margin: auto;
    border-radius: 30px;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    box-shadow: 0px 10px 30px #bf7714;
}

nav li:hover {
    opacity: 0.9;
    transform: scale(1.1);
    transition: transform .3s;
}