
/* Header  */

header #navigation {    
    background-color: #E6E8E6;
    border: solid 3px #1B1725;
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: row;
    column-gap: 230px;
    align-items: center;
}

header img {
    width: 70px;
    height: 70px;
    border-right: solid 3px #1B1725;
}

header h2 {
    margin: 0
}

header a {
    text-decoration: none;
    color: #1B1725;
    display: inline-block;
}

header a:hover {
    text-decoration: underline;
    color: #086788;
    transform: scale(1.1);
    transition: transform .3s;
}

/* index main */

.indexbody {
    background-color: #E6E8E6;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.indexmain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-left: 10px;
    font-family: "Montserrat", sans-serif;
}

.indexmain .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    text-align: center;
    margin-top: 15px;
    padding: 10px;
}

.indexmain .content .images2,
.indexmain .content .images1, 
.indexmain .content .images3 {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.indexmain table {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.indexmain .list {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.indexmain ul {
    margin: 0px;
    padding: 0px;    
    list-style: none;
}

.indexmain li {
    padding: 10px;
}

.indexmain h4 {
    margin-top: 20px;
}

.indexmain table td {
    text-align: center;
}

/* footer  */

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #E6E8E6;
    border: solid 3px #1B1725;
    margin-top: 10px;
    padding: 10px;
    font-family: "Lato", sans-serif;
}

footer .social {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    color: #1B1725;
}

footer .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    color: #1B1725;
}

footer .contact h3 {
    margin: 0px;
    padding: 8px;
}

/* ice page main  */

.icebody {
    background-color: #E6E8E6;
    min-height: 100vh;
    margin: 0;
}

.icemain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 100px 50px;

}

.icemain div {
    border: 3px solid #1B1725;
    box-shadow: 2px 2px 10px 1px #086788;
    border-radius: 20px;
    text-align: center;
    margin: 50px;
    padding: 10px;
}

.icemain div a {
    text-decoration: none;
    color: #1B1725;
}

.icemain div a p {
    font-family: "Montserrat", sans-serif;
}

.icemain div a h2 {
    display: inline-block;
    font-family: "Lato", sans-serif;
}

.icemain div a h2:hover {
    transform: scale(1.1);
    transition: transform .3s;
    text-decoration: underline;
    color: #086788;
}